<div class="jumbotron">
  <div class="container">
    <h1>Instangular</h1>
    <p>Type in any search term or tag for a feed of Instagram's latest uploads.</p>
    <form ng-submit="searchTag()" class="form-inline">
      <div class="form-group">
        <input id="input-field" type="text" ng-model="tag" class="form-control" placeholder="Type your fave Instagram tag" autofocus required>
      </div>
      <input type="submit" value="Search" class="btn btn-default">
    </form>
  </div>
</div>

<div class="container">
  <div class="row">
    <hr>
    <br>
    <a href="/favorites"><button class="btn btn-default" id="favorites">View Favorites</button></a>
    <br>
    <div class="row" ng-show="photos.length > 0">
      <div class="col-md-3 col-sm-12 col-xs-12" ng-repeat="photo in photos">
        <div class="thumbnail">
          <img ng-src="{{photo.images.standard_resolution.url}}">
          <br>
          <p>
            @{{photo.user.username}}
            <span class="pull-right">
              <span class="glyphicon glyphicon-heart"></span>
              <ng-pluralize count="{{photo.likes.count}}" when="{'one': '1 like', 'other': '{} likes'}"></ng-pluralize>
            </span>
          </p>
          <p><a href="javascript:void(0)"><button class="btn btn-default" ng-click="savePhoto(photo)">Save</button></a></p>
        </div>
      </div>
    </div>
  </div>
</div>
